Titre : [[ titre ]]
[% if a == true %]
[# commentaire #]
[[ b ]]
[% endif %]

[! [[ pas compile ]] !]

[% foreach i in liste %]
[[ i ]]
[% endforeach %]

[% foreach i in 0..10 %]
[#[% if i % 2 === 0 %]#]
[[ i ]]
[#[% endif %]#]
[% endforeach %]

[% foreach i in 10..0 %]
[[ i ]]
[% endforeach %]
