<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    [# On place le titre passé en paramètre #]
    <title>[[ titre ]]</title>
  </head>
  
  <body>
    <h1>[[ titre ]] - [[ nb ]]</h1>
    <em>Code&nbsp;:</em><br />
    <pre>
    [!
    [% foreach i in 1..10 %]
      [[ i ]] - Wow trop génial !<br />
    [% endforeach %]
    !]
    </pre>
    <br />
    <br />
    <em>Résultat&nbsp;:</em><br />
    [% foreach i in 1..10 %]
      [[ i ]] - Wow trop génial !<br />
    [% endforeach %]
  </body>
</html>
